# Игнорируем файл с доступами
.env

# Игнорируем виртуальное окружение Python
venv/
__pycache__/

# Игнорируем временные файлы и логи
*.log
*.tmp

# Игнорируем IDE (PyCharm, VSCode и др.)
.vscode/
.idea/

# Игнорируем доп.файлы
temp-test-pip